<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheapFind - Găsește Cel Mai Ieftin Produs</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>CheapFind</h1>
        <p>Găsește rapid produsele la cel mai bun preț din apropierea ta!</p>
    </header>

    <form asp-controller="Home" asp-action="SearchCarrefour" method="post">
        <input type="text" name="query" placeholder="Enter a word">
        <button type="submit">Print Word</button>
    </form>

    <form asp-controller="Home" asp-action="SearchKaufland" method="post">
        <input type="text" name="query" placeholder="Enter a word">
        <button type="submit">Print Word</button>
    </form>

    <footer>
        <p>&copy; 2024 CheapFind. Toate drepturile rezervate.</p>
    </footer>
</body>
</html>
