<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <button onclick="redirectToCart()">Creează Coș de Cumpărături</button>
        <button onclick="redirectToProduct()">Caută Prețuri Produs</button>
    </div>

    <script>
        function redirectToCart() {
            // Redirect to the Cart page
            window.location.href = "/Cart";
        }

        function redirectToProduct() {
            // Redirect to the Home page
            window.location.href = "/Product";
        }
    </script>
</body>
</html>
